<div ng-include src="'views/header.html'"></div>
<div class="row">
	<div class="table-responsive">
		<table class="table"> 
			<thead>
				<tr>
					<th>ธนาคาร</th>
					<th>ชื่อบัญชี</th>
					<th>สาขา</th>
					<th>บัญชี</th>
					<th>เลขที่บัญชี</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="../pub/media/logo/banklogo/logo-kbank.png" alt="ธนาคารกสิกรไทย" style="height: 10vh;"></td>
					<td>นายเกียรติชัย เกียรติสูงส่ง</td>
					<td>เยาวราช</td>
					<td>ธนาคารกสิกรไทย</td>
					<td>024-1-07896-5</td>
				</tr>
				<tr>
					<td><img src="../pub/media/logo/banklogo/logo-scb.png" alt="ธนาคารไทยพาณิชย์" style="height: 10vh;"></td>
					<td>นายเกียรติชัย เกียรติสูงส่ง</td>
					<td>วงเวียนโอเดี้ยน</td>
					<td>ธนาคารไทยพาณิชย์</td>
					<td>179-2-03836-5</td>
				</tr>
				<tr>
					<td><img src="../pub/media/logo/banklogo/logo-bbl.png" alt="ธนาคารกรุงเทพ" style="height: 10vh;"></td>
					<td>นายเกียรติชัย เกียรติสูงส่ง</td>
					<td>หัวลำโพง</td>
					<td>ธนาคารกรุงเทพ</td>
					<td>139-0-87167-9</td>
				</tr>
				<tr>
					<td><img src="../pub/media/logo/banklogo/logo-tmb.jpg" alt="ธนาคารทหารไทย" style="height: 10vh;"></td>
					<td>นายเกียรติชัย เกียรติสูงส่ง</td>
					<td>ตลาดน้อย</td>
					<td>ธนาคารทหารไทย</td>
					<td>027-2-23137-4</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		หมายเหตุ : เมื่อชำระเงินโอนผ่านบัญชีธนาคาร เพื่อสั่งซื้อ หรือ มัดจำสินค้าแล้ว ส่งสลิป หรือหลักฐานการชำระเงินมาที่
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<img src="../pub/media/logo/banklogo/logo-line.png" alt="Line" style="height: 10vh;"> &nbsp;
		@BudddyShops
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<i class="fa fa-envelope"></i> &nbsp;
		info@rptfurniture.com
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<i class="fa fa-phone"></i> &nbsp;
		 02-266-9784-5
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		<i class="fa fa-fax"></i> &nbsp;
		02-238-4610
	</div>
</div>